body {
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  #task-form {
    margin: 20px;
  }
  
  #task-form input, #task-form textarea, #task-form button {
    display: block;
    margin-bottom: 10px;
  }
  
  #tasks {
    margin: 20px;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
  }
  
  #task-list li {
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  #task-list li span {
    font-weight: bold;
  }
  
  #task-list li small {
    display: block;
  }
  